.classpath
.project
bin/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.sdx
*.thm
*.xml
*.bcf
*.swp
*.bak
*.sav
root-blx.bib
report.txt
*.fdb_latexmk
*.fls
*.lol
*.ist
*.wrt
*.xdv
*.tdo
./tikz-uml.sty
!paper/paper.pdf
root.run.xml
root-blx.bib
